/*****************************************
GENERAL
******************************************/
* {
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}



/*****************************************
HEADING
******************************************/
header {
    text-align: center;
    margin: 0;
    padding-top: 2em;
}

nav li {
    text-decoration: underline;
}

nav li, nav li a {
    padding: 0.75em 2em;
}

nav ul {
    padding: 0;
}

header h2 {
    border-bottom: 1px solid;
    padding-bottom: 0.5em;

}

header h1 {
    border-top: 1px solid;
    margin: 0;
    padding-top: 0.5em;
}

header li {
    list-style: none;
}

a {
    text-decoration: none;
}

/******************************************
MAIN CONTENT
*******************************************/

/***************HOME PAGE******************/

section {
    text-align: left;
    text-justify: auto;
    max-width: 80%;
    margin: 2em auto;
    line-height: 1.5em;
    align: center;
}



#head_shot {
    width: 45%;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    clear: both;
    max-width: 300px;
}

/*************RESUME PAGE******************/
#resume {
    height: 700em;
}

/******************************************
FOOTER
*******************************************/
footer {
    text-align: center;
    padding: 1em;
}




/******************************************
COLORS
*******************************************/
body {
    background-color: lightgray;
}

header {
    background-color: black;
}

header a {
    color: azure;
}

nav {
    background-color: #666666;
}

footer {
    background-color: black;
    color: azure;
}